{% macro albums(albums) -%}
<table>
  <thead>
    <tr>
      <th>커버</th>
      <th>앨범 이름</th>
      <th>앨범 출시일</th>
    </tr>
  </thead>
  <tbody>
      {% for album in albums -%}
        <tr>
          <td>
            {% if album.cover -%}
              <a href="{{ album.link }}"><img src="{{ album.cover }}" /></a>
            {%- endif %}
          </td>
          <td>
            {% if album.link -%}
              <a href="{{ album.link }}">{{ album.name }}</a>
            {% else %}
              {{ album.name }}
            {%- endif %}
          </td>
          <td>{{ album.created_at }}</td>
        </tr>
      {%- endfor %}
  </tbody>
</table>
{%- endmacro %}
