{% from 'util.html' import import_bower %}
{% from 'util.html' import import_static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block htmltitle %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content-type="text/html;charset=utf-8" />
    {{ import_bower('css', 'bootstrap/dist/css/bootstrap.css') }}
    {{ import_static('css', 'base.css') }}
    {{ import_static('css', 'albums.css') }}
    {% block htmlhead %}
    {% endblock %}
  </head>
  <body>
    <nav>
      <ul>
        <li id="nav-artists">
          <a href="{{ url_for('artist.all') }}">
            아티스트
          </a>
        </li>

        <li id="nav-artists">
          <a href="{{ url_for('album.all') }}">
            앨범
          </a>
        </li>
        <li id="btn-profile">
          {% if True -%}
            <a href="#settings" class="btn-setting">
              <span class="btn glyphicon glyphicon-cog"></span>
            </a>
            <a href="{{ url_for('user.me') }}" class="me"> 누구누구님 </a>
          {% else -%}
            <a href="{{ url_for('facebook_login.login') }}">
              로그인
            </a>
          {%- endif %}
        </li>
      </ul>
    </nav>

    <div id="wrap">
      {% block htmlbody %}
      {% endblock %}
    </div>
    {{ import_bower('js', 'jquery/dist/jquery.min.js') }}
    {{ import_bower('js', 'bootstrap/dist/js/bootstrap.min.js') }}
  </body>
</html>
