{% from 'util.html' import import_static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block htmltitle %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content-type="text/html;charset=utf-8" />
    {{ import_bower('css', 'bootstrap/dist/css/bootstrap.css') }}
    {{ import_static('css', 'albums.css') }}
    {% block htmlhead %}
    {% endblock %}
  </head>
  <body>
    <ul>
      <li>
      <a href="{{ url_for('artist.all') }}">dv에 추가된 아티스트들 보기</a>
      </li>
    </ul>
    {% block htmlbody %}
    {% endblock %}
    {{ import_bower('js', 'jquery/dist/js/jquery.min.js') }}
    {{ import_bower('js', 'bootstrap/dist/js/bootstrap.min.js') }}
  </body>
</html>
