{% macro import_static(type_, p) -%}
  {% if type_ == 'css' -%}
    <link rel="stylesheet" href="{{ url_for('static', filename=p) }}" />
  {% elif type_ == 'js' -%}
    <script type="text/javascript" src="{{ url_for('static', filename=p) }}">
    </script>
  {%- endif %}
{%- endmacro %}

{% macro import_bower(type_, p_) -%}
  {% set p = 'components/%s' % p_ -%}
  {% if type_ == 'css' -%}
    <link rel="stylesheet" href="{{ url_for('static', filename=p) }}" />
  {% elif type_ == 'js' -%}
    <script type="text/javascript" src="{{ url_for('static', filename=p) }}">
    </script>
  {%- endif %}
{%- endmacro %}


{% macro show_pager(url_path, pages) -%}
  <ul>
    {% for num, pos in pages: -%}
      {% if pos == 'c' -%}
        <li class="current">
          {{ num }}
        </li>
      {% else -%}
        <li class="{% if pos == 'f' %}first{% elif pos == 'e' %}end{% endif %}">
          <a href="{{ '%s?page=%d' % (url_path, num) }}">
            {{ num }}
          </a>
        </li>
      {%- endif %}
    {%- endfor %}
  </ul>
{% endmacro %}
