{% extends 'base.html' %}
{% from 'albums.html' import albums %}

{% block htmlbody %}
  <dl id="love-badge">
    <dt>
      <a href="{{ url_for('.love_artist', user_id=user.id) }}">
        {{ user.name }} 님이 관심있어하는 아티스트들
      </a>
    </dt>
    <dd>
      {{ user.love_artists|length }}
    </dd>
    <dt>
      <a href="{{ url_for('.love_album', user_id=user.id) }}">
        {{ user.name }} 님이 관심있어하는 아티스트들의 앨범
      </a>
    </dt>
    <dd>
      {{ user.love_artists|length }}+
    </dd>
  </dl>

  {{ albums(love_albums) }}
{% endblock %}
